{% extends "base.html" %}
{% block page_content %}

<head>
    <title>Accounts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<h1>Accounts</h1>
<div class="row">
    <div class="col-md-4">

        <div class="card" style="width: 30rem;">
            <div class="card-body">
            <h5 class="card-title">Checking Accounts</h5>
            </div>
            <ul class="list-group list-group-flush">


            {% for account in checking %}
                <li class="list-group-item">{{ account.bankname}}   |   {{ account.lastfour}}   |   {{ account.balance}}</li>
            {% endfor %}

            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>

        <br />

        <div class="card" style="width: 30rem;">
            <div class="card-body">
            <h5 class="card-title">Credit Card Accounts</h5>
            </div>
            <ul class="list-group list-group-flush">


            {% for account in credit %}
                <li class="list-group-item">{{ account.bankname}}   |   {{ account.lastfour}}   |   {{ account.balance}} | <a href="#" class="card-link">Transactions</a></li>
            {% endfor %}

            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>

        <br />

        <div class="card" style="width: 30rem;">
            <div class="card-body">
            <h5 class="card-title">Savings Accounts</h5>
            </div>
            <ul class="list-group list-group-flush">


            {% for account in saving %}
                <li class="list-group-item">{{ account.bankname}}   |   {{ account.lastfour}}   |   {{ account.balance}}</li>
            {% endfor %}

            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>

        <br />

        <div class="card" style="width: 30rem;">
            <div class="card-body">
            <h5 class="card-title">Investment Accounts</h5>
            </div>
            <ul class="list-group list-group-flush">


            {% for account in invest %}
                <li class="list-group-item">{{ account.bankname}}   |   {{ account.lastfour}}   |   {{ account.balance}}</li>
            {% endfor %}

            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>

        <!-- {% for account in checking %}


            <h1> {{ acc.bankname }} </h1>
     

            <div class="card-body">
                <h5 class="card-title">{{ acc.bankname }}</h5>
                <p class="card-text">{{ acc.lastfour }}</p>
            
                class="btn btn-primary">
                    Read More
                </a>
            </div>
        
        </div>

            {% endfor %} -->

    </div>
</div>
{% endblock %}