{% extends "base.html" %}
{% block page_content %}

<h1>Accounts</h1>
<div class="row">
    <div class="col-md-4">

        <h1> asd</h1>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Credit Card Accounts</h5>
            </div>
            <ul class="list-group list-group-flush">


            {% for account in credit %}

                <li class="list-group-item">{{ account.bankname}}-{{ account.lastfour}}</li>
            {% endfor %}

            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
                </div>
        </div>

        <!-- {% for account in checking %}


            <h1> {{ acc.bankname }} </h1>
     

            <div class="card-body">
                <h5 class="card-title">{{ acc.bankname }}</h5>
                <p class="card-text">{{ acc.lastfour }}</p>
            
                class="btn btn-primary">
                    Read More
                </a>
            </div>
        
        </div>

            {% endfor %} -->

    </div>
</div>
{% endblock %}